<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小小聊天室</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .lf{float:left;text-align: left}
        .rt{float:right;text-align: right}
        /*清除浮动*/
        .clear:after{
            clear:both;
            content:'.';
            display:block;
            width: 0;
            height: 0;
            visibility:hidden;
        }
        .container{
            max-width: 750px;
            margin: 0 auto;
        }
        .container,.chat-box {
            width: 100%;
            height: 12.5rem;
            margin: 0 auto;
        }
        .chat-box {
            background-color: #eee;
        }
        .title {
            width: 100%;
            height: 1.2rem;
            line-height: 1.2rem;
            background-color: #ddf1d8;
            padding-left: 0.12rem;
            color: green;
        }

        .chat-box ul {
            padding: 0.2rem;
            height: 100%;
            overflow-y: auto;
        }

        li {
            width: 100%;
            padding: 5px 10px;
            list-style: none;
            word-wrap: break-word;
        }

        .text {
            width: 80%;
            height: 1rem;
            line-height: 0.6rem;
            padding: 0.066667rem 0.133333rem;
            border-radius: 3px;
            outline: none;
            -webkit-appearance: none;
        }

        #btn {
            width: 20%;
            height: 1rem;
            margin-left: -4px;
            line-height: 1rem;
            text-align: center;
            cursor: pointer;
            color: green;
            background-color: #ddf1d8;
            border: none;
        }

        .username {
            animation: change 1.5s  ease-in  infinite ; font-size: 16px; color:#fff;
        }

        @keyframes change {
            0%{ text-shadow: 0 0 2px #e4393c;color: yellow }
            25%{ text-shadow: 0 0 6px yellow;color: #e4393c }
            50%{ text-shadow: 0 0 12px #FF8C00;color: greenyellow }
            75%{ text-shadow: 0 0 8px greenyellow;color: #FF8C00 }
            100%{ text-shadow: 0 0 4px blue;color: #fff }
        }

        .user-text {
            display: inline-block;
            padding: 5px;
            background-color: #fff;
            border-radius: 5px;
            margin-top: 5px;
        }


    </style>
    <script type="text/javascript" src="/rem.js"></script>
    <script src="jquery-2.1.4.min.js"></script>
</head>
<body>

<div class="container">
    <h3 class="title">欢迎<span class="username"> <%= user %> </span>来到聊天室</h3>
    <div class="chat-box" direction="">
        <ul class="list clear">

        </ul>
    </div>
    <div>
        <input class="text" type="text"  placeholder="输入内容">
        <input id="btn" type="submit" value="发送">
    </div>
</div>


<script src="/jquery-2.1.4.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    var btn = document.getElementById('btn');
    btn.onclick = function () {
        var msg = $('.text').val();
        var username = $('.username').text();
        if(msg){
            socket.emit("send",{
                "text":msg,
                "user":username
            })
            $('.text').val('');
        }else {
            alert('聊天内容不能为空!')
        }
    }

    $('.text').keydown(function (e) {
        if(e.keyCode==13){
            var msg = $('.text').val();
            if(msg){
                $('#btn').click()
            }else {
                alert('聊天内容不能为空!')
            }
        }
    })

    function scrollbarSet() {
        $('.list').scrollTop($('.list')[0].scrollHeight);
    }
    
    socket.emit("user",{
        "username": $('.username').text()
    })

    socket.on("huida",function (msg) {
        var myself = $('.username').text();
        var user = msg.user;
        if(user == myself) {
            $('.list').append('<li class="rt"><p class="user"><span style="color: #e4393c">'+user+':('+msg.time+')</span></p><p class="user-text">'+msg.text+'</p></li>');
        } else {
            $('.list').append('<li class="lf"><p class="user"><span style="color: #e4393c">'+user+':('+msg.time+')</span></p><p class="user-text">'+msg.text+'</p></li>');
        }
        scrollbarSet();
    })

    socket.on("new",function(msg){
        $('.list').append('<li class="lf" style="text-align: center;color: #aaa">系统通知：欢迎 '+msg.username+'加入聊天室</li>');
        scrollbarSet();
    })

    console.log([
        "                   _ooOoo_",
        "                  o8888888o",
        "                  88\" . \"88",
        "                  (| -_- |)",
        "                  O\\  =  /O",
        "               ____/`---'\\____",
        "             .'  \\\\|     |//  `.",
        "            /  \\\\|||  :  |||//  \\",
        "           /  _||||| -:- |||||-  \\",
        "           |   | \\\\\\  -  /// |   |",
        "           | \\_|  ''\\---/''  |   |",
        "           \\  .-\\__  `-`  ___/-. /",
        "         ___`. .'  /--.--\\  `. . __",
        "      .\"\" '<  `.___\\_<|>_/___.'  >'\"\".",
        "     | | :  `- \\`.;`\\ _ /`;.`/ - ` : | |",
        "     \\  \\ `-.   \\_ __\\ /__ _/   .-` /  /",
        "======`-.____`-.___\\_____/___.-`____.-'======",
        "                   `=---='",
        "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^",
        "         佛祖保佑       永无BUG"
    ].join('\n'));


</script>
</body>
</html>